@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

/* utilidades */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";
@import "./utilidades/animacao.css";

/* home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* bicicletas */
@import "./bicicleta/bicicleta.css";
@import "./bicicleta/seguro.css";

/* seguros */
@import "./seguros/seguros.css";
@import "./seguros/perguntas.css";
@import "./seguros/vantagens.css";

/* contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";

/* contato */
@import "./orcamento/orcamento.css";

/* Termos */
@import "./termos/termos.css";
